 .anwan
/* {background-color: #f08080; */
{text-align: center;
/* margin-top: -10px;
padding: 25px; */
background-repeat: no-repeat;
background-size: auto;
 font-family:Courier New;
 height: 50px;
} 
 .logo{
     /* height: 70px;
     margin-left: auto;
     margin-top: -100px;  

     float: right;  
       /* width: 300px;    */
     /* margin-top: -40px; */ 
     float: left;     
     width: 200px;   
          margin-top: -100px;
}
.navbar{      
    /* background-color: white;    
   margin: 0;    
   height: 50px;    color: #000;    
   text-decoration: none;   
    padding:25px;
    margin-top: -10px; */
         
        background-color: white;    
       margin: 0;    
       height: 70px;    color: #000;    
       text-decoration: none;   
        padding:50px;
   

}

body{background-color: gainsboro;}

.janna{
    width: 100px;
    height: 100px;
    /* background-color: silver; */
    margin-top: 25px;
        margin-left: 270px; 
        margin-top: 10
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }


.youtube{
   
    width: 50px;
    height: 50px;
 }
 .insta{
 
    width: 50px;
    height: 50px;
 }
 .download{  
         float: right;     
         width: 90px;   
         margin-top: -250px;
        }


          #hero .icon-box {
    padding: 30px 20px;
    transition: ease-in-out 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 100%;
    text-align: center;
}


.icon-box{
    padding-top: 0;
}  
  
.icon-box {
    padding: 10px 10px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 5px 10px 29px 0 rgba(68, 88, 144, 0.2);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  .icon-box{
    margin: 0 auto 20px auto;
    display: inline-block;
    text-align: center;
  }
  
  .icon-box{
    font-size: 36px;
    line-height: 1;
    color: #f6b024;
  }
  
  .icon-box{
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .icon-box{
    color: #05579e;
  }
  
  .icon-box{
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
    color: #777777;
  }
  